:root {
    /*COLORS*/
    --color-background: #00030C;
    --color-button-primary: #167BF7;
    --color-button-primary-hover: #2e87f3;
    --color-button-secondary: transparent;
    --color-button-secondary-hover: #181818;
    --color-text-primary: #FFF;
    --color-text-secondary: #F9F9F9;
    --color-text-tertiary: #C0C0C0;

    /*TYPOGRAPHY*/
    /*Font Family*/
    --font-family-primary: 'Inter', sans-serif;
    /*Titles Sizes*/
    --title-size-big: 3rem;
    --title-size-medium: 2rem;
    --title-size-small: 1.75rem;
    /*Texts Sizes*/
    --text-size-big: 1rem;
    --text-size-medium: 0.87rem;
    --text-size-small: 0.75rem;
    /*Font Weights*/
    --font-weight-primary: 700;
    --font-weight-secondary: 400;

    /*BANNERS*/
    --banner-home: url('/assets/background.png');
}